In [1]:
## create final csv
import pandas as pd
import os

In [3]:
df = pd.read_csv('Dataset/fashion-dataset/styles.csv', on_bad_lines='skip')
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [ ]:
images = pd.read_csv('Dataset/fashion-dataset/images.csv', on_bad_lines='skip')
images['image'] = images['filename'].apply(lambda x: os.path.join('Dataset/fashion-dataset/images', x))
images.head()

    filename                                               link
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...
3  21379.jpg  http://assets.myntassets.com/v1/images/style/p...
4  53759.jpg  http://assets.myntassets.com/v1/images/style/p...

In [8]:
dfcutted = df[df['subCategory'].isin(['Topwear', 'Bottomwear'])]
dfcutted = dfcutted.join(images.set_index('styleId'), on='id', rsuffix='_right')
dfcutted.head()

KeyError: "None of ['styleId'] are in the columns"